<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Registered Employees</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/register" class="btn btn-sm btn-outline-secondary">+ New Employee</a>
        </div>
    </div>
</div>



<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Email ID</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>

        <tbody>
            <% employees.forEach(employee => { %>
                <tr class="align-middle">
                    <td><%= employee.employeeName %></td>
                    <td><%= employee.employeeId %></td>
                    <td><%= employee.employeeEmail %></td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                           
                            
                            <form action="/editemployee/<%= employee._id %>?_method=DELETE" method="POST"
                                class="position-relative">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<% if (employees.length > 0) { %>
    <nav aria-label="Employees Pagination">
        <ul class="pagination justify-content-center mt-5">
            <% if (current == 1) { %>
                <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
            <% } else { %>
                <li class="page-item"><a href="/employee?page=1" class="page-link">First</a></li>
            <% } %>

            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
            <% } %>

            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a href="/employee?page=<%= i %>" class="page-link"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                <% } %>
            <% } %>

            <% if (current == pages) { %>
                <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
            <% } else { %>
                <li class="page-item"><a href="/employee?page=<%= pages %>" class="page-link">Last</a></li>
            <% } %>
        </ul>
    </nav>
<% } %>
